@font-face {
  font-family: "Excentra Pro";
  src: url("../fonts/excentra_pro_light.eot");
  /* IE 9 Compatibility Mode */
  src: url("../fonts/excentra_pro_light.eot?#iefix") format("embedded-opentype"), url("../fonts/excentra_pro_light.woff2") format("woff2"), url("../fonts/excentra_pro_light.woff") format("woff"), url("../fonts/excentra_pro_light.ttf") format("truetype"), url("../fonts/excentra_pro_light.svg#excentra_pro_light") format("svg");
  /* Chrome < 4, Legacy iOS */
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Foxhole";
  src: url("../fonts/Foxhole.eot");
  src: url("../fonts/Foxhole.eot?#iefix") format("embedded-opentype"), url("../fonts/Foxhole.svg#Foxhole") format("svg"), url("../fonts/Foxhole.ttf") format("truetype"), url("../fonts/Foxhole.woff") format("woff"), url("../fonts/Foxhole.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 150%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

* a {
  color: inherit;
}

body {
  font-family: "Excentra Pro";
  font-weight: 300;
  line-height: 100%;
  background-color: #fff;
}

body._lock {
  overflow: hidden;
}

.image-bg {
  position: relative;
}

.image-bg img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.wrapper {
  min-height: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
}

.main {
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
}

.container {
  margin: 0px auto;
  padding: 0px 15px;
  max-width: 720px;
}

.burger {
  display: block;
  position: absolute;
  top: 28px;
  right: 28px;
  z-index: 28;
}

.burger__wrapper {
  padding: 7px;
  border-radius: 3px;
}

.burger__items span {
  display: block;
  width: 26px;
  height: 2px;
  background: #3f574a;
  border-radius: 2px;
  transition: all 0.3s ease-out;
}

.burger__items span:not(:last-child) {
  margin: 0px 0px 5px 0px;
}

.burger__items._opened span:nth-child(2) {
  display: none;
}

.burger__items._opened span:first-child {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  margin: 0px 0px 0px 0px;
  position: relative;
  top: 7px;
}

.burger__items._opened span:last-child {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  position: relative;
  top: 5px;
}

.big-button {
  display: inline-block;
  padding: 10px 22px;
  font-weight: 400;
  font-size: 18px;
  color: #fff;
  text-transform: uppercase;
  border-radius: 23px;
  background-color: #3f574a;
  transition: all 0.4s ease-out;
}

.big-button_light {
  padding: 8px 16px;
  font-size: 14px;
  color: #000;
  background-color: #fff;
  transition: all 0.4s ease-out;
}

.button {
  position: relative;
  padding: 10px 20px;
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  color: #fff;
  text-transform: uppercase;
  border-radius: 23px;
  background-color: #3f574a;
  transition: all 0.4s ease-out;
  z-index: 5;
}

.buy-button {
  padding: 8px 20px;
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  color: #fff;
  background-color: #3f574a;
  border-radius: 23px;
  transition: all 0.4s ease-out;
}

.title {
  font-family: "Foxhole";
  font-weight: 400;
  font-size: 60px;
  line-height: 120%;
  text-align: center;
  text-transform: uppercase;
  color: #3f574a;
}

.slick-slider {
  position: relative;
}

.slick-list {
  overflow: hidden;
}

.slick-track {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: start;
  align-items: flex-start;
}

.slick-arrow {
  position: absolute;
  top: 100px;
  z-index: 5;
  font-size: 0;
}

.slick-prev {
  width: 21px;
  height: 34px;
  left: 0;
  background-color: transparent;
}

.slick-prev::before,
.slick-prev::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 12px;
  height: 2px;
  background-color: #3f574a;
  -webkit-transform: rotate(-44deg);
  transform: rotate(-44deg);
}

.slick-prev::after {
  -webkit-transform: rotate(46deg);
  transform: rotate(46deg);
}

.slick-prev::before {
  top: 9px;
}

.slick-prev::after {
  top: 17px;
}

.slick-next {
  width: 21px;
  height: 34px;
  right: 0;
  background-color: transparent;
}

.slick-next::before,
.slick-next::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 12px;
  height: 2px;
  background-color: #3f574a;
  -webkit-transform: rotate(-136deg);
  transform: rotate(-136deg);
}

.slick-next::after {
  -webkit-transform: rotate(-44deg);
  transform: rotate(-44deg);
}

.slick-next::before {
  top: 9px;
}

.slick-next::after {
  top: 17px;
}

.slick-dots {
  margin-top: 50px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  height: 17px;
}

.slick-dots li {
  margin: 0px 10px;
}

.slick-dots li.slick-active button {
  background-color: #bc4c47;
}

.slick-dots button {
  font-size: 0;
  width: 13px;
  height: 13px;
  border-radius: 100%;
  background-color: #da9996;
}

.slider__items_flowers {
  padding: 0px 20px;
}

.slider__items_feedback {
  padding: 0px 25px;
}

.slider__items_feedback .slick-dots {
  margin-top: 44px;
}

.arrow-up {
  position: fixed;
  bottom: 60px;
  right: 30px;
  width: 38px;
  height: 38px;
  z-index: 10;
  visibility: hidden;
  opacity: 0;
  transition: 0.5s opacity, 0.5s visibility;
  border-radius: 100%;
  background-color: rgba(109, 135, 116, 0.7);
  cursor: pointer;
}

.arrow-up._active {
  visibility: visible;
  opacity: 1;
}

.arrow-up_link {
  display: inline-block;
  width: 100%;
  height: 100%;
}

.arrow-up_link::before {
  content: "";
  position: absolute;
  top: 45%;
  right: 43%;
  height: 3px;
  width: 14px;
  background-color: #fff;
  border-radius: 20px;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.arrow-up_link::after {
  content: "";
  position: absolute;
  top: 45%;
  left: 43%;
  height: 3px;
  width: 14px;
  background-color: #fff;
  border-radius: 20px;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.header {
  position: relative;
  padding: 54px 0px 32px;
  background-color: #fff;
}

.header__container {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
}

.header__logo {
  display: none;
}

.header__logo-text {
  margin-top: 12px;
  color: #3f574a;
  text-transform: uppercase;
}

.menu-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 20;
  background-color: rgba(8, 6, 6, 0.5);
  transition: all 2s ease-out;
}

.menu-overlay_opened {
  display: block;
  -webkit-animation-name: displayMenuOverflow;
  animation-name: displayMenuOverflow;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
}

@-webkit-keyframes displayMenuOverflow {
  from {
    opacity: 0.1;
  }

  to {
    opacity: 1;
  }
}

@keyframes displayMenuOverflow {
  from {
    opacity: 0.1;
  }

  to {
    opacity: 1;
  }
}

.menu {
  padding: 80px 0px;
  position: fixed;
  top: 0;
  right: -100%;
  height: 100vh;
  width: 70%;
  z-index: 25;
  background-color: #fff;
  transition: all 0.6s ease-out;
}

.menu._opened {
  right: 0;
  visibility: visible;
}

.menu__items {
  margin: 0px auto;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-align: center;
  align-items: center;
  font-size: 22px;
  color: #3f574a;
}

.menu__items > :not(:last-child) {
  margin-bottom: 20px;
}

.menu__item {
  margin: 15px 0px;
  padding: 5px 0px;
}

.menu__item a {
  padding: 10px 30px;
}

.promo {
  padding: 0px 0px 80px;
  position: relative;
  background-color: #e1e1b8;
}

.promo::before {
  content: "";
  position: absolute;
  top: 0px;
  left: 0;
  width: 0;
  height: 0;
  border-top: 40px solid #fff;
  border-right: 50vw solid transparent;
}

.promo::after {
  content: "";
  position: absolute;
  top: 0px;
  right: 0;
  width: 0;
  height: 0;
  border-top: 40px solid #fff;
  border-left: 50vw solid transparent;
}

.promo__container {
  position: relative;
}

.promo__title {
  position: relative;
  margin-top: 24px;
  font-family: "Foxhole";
  font-weight: 400;
  font-size: 74px;
  line-height: 120%;
  text-align: center;
  text-transform: uppercase;
  z-index: 5;
  color: #3f574a;
}

.promo__small-flower {
  position: absolute;
  top: 12px;
  left: 5%;
  width: 133px;
  opacity: 0.6;
}

.promo__big-flower {
  position: absolute;
  top: 97px;
  right: 5%;
  width: 300px;
  opacity: 0.8;
}

.promo__subtitle {
  position: relative;
  margin: 26px auto 0;
  font-weight: 400;
  font-size: 21px;
  line-height: 100%;
  text-align: center;
  color: #4f6555;
  z-index: 5;
}

.promo__buttons {
  position: relative;
  margin: 77px 0 0 0px;
  z-index: 5;
}

.promo__button_light {
  margin-top: 22px;
}

.about {
  padding-top: 37px;
  padding-bottom: 45px;
  background-color: #e1e1b8;
}

.about__items {
  margin-top: 34px;
  margin-bottom: 40px;
  position: relative;
  text-align: center;
}

.about__items > :not(:last-child) {
  margin-bottom: 49px;
  position: relative;
}

.about__items > :not(:last-child)::after {
  content: "";
  position: absolute;
  width: 13px;
  height: 13px;
  border-radius: 100%;
  background-color: #da9996;
}

.about__items > :not(:last-child)::after {
  bottom: -32px;
  left: 50%;
}

.about__items::before,
.about__items::after {
  content: "";
  position: absolute;
  width: 13px;
  height: 13px;
  left: 50%;
  border-radius: 100%;
  background-color: #bc4c47;
}

.about__items::before {
  top: -34px;
}

.about__items::after {
  bottom: -40px;
}

.about__item {
  font-weight: 400;
  font-size: 20px;
  line-height: 100%;
  color: #3f574a;
}

.flowers {
  padding-top: 30px;
  padding-bottom: 60px;
  background-color: #e1e1b8;
}

.flowers__slider {
  margin-top: 44px;
}

.flowers-item {
  text-align: center;
}

.flowers-item__image {
  display: inline-block;
  width: 230px;
  height: 230px;
}

.flowers-item__image img {
  border-radius: 18px;
}

.flowers-item__title {
  position: relative;
  margin-top: 26px;
  font-family: "Foxhole";
  font-weight: 400;
  font-size: 48px;
  line-height: 121%;
  color: #3f574a;
  text-transform: uppercase;
}

.flowers-item__title::before,
.flowers-item__title::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: calc(50% - 13px);
  width: 21px;
  height: 2.5px;
  background-color: #3f574a;
  -webkit-transform: rotate(-136deg);
  transform: rotate(-136deg);
}

.flowers-item__title::after {
  left: 50%;
  -webkit-transform: rotate(-44deg);
  transform: rotate(-44deg);
}

.flowers-item__title::before,
.flowers-item__title::after {
  bottom: -34px;
}

.flowers-item__price {
  margin-top: 77px;
  font-weight: 400;
  font-size: 24px;
  line-height: 100%;
  color: #3f574a;
}

.flowers-item__bonuses {
  margin-top: 9px;
  font-weight: 400;
  font-size: 12px;
  line-height: 100%;
  color: #4f6555;
}

.flowers-item__button {
  padding: 10px 0;
  margin-top: 38px;
}

.card {
  padding-top: 45px;
  padding-bottom: 143px;
  background-color: #e1e1b8;
}

.card__block {
  position: relative;
  padding: 45px 10px;
  text-align: center;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 70px;
}

.card__text {
  font-weight: 400;
  font-size: 22px;
  line-height: 100%;
  color: #3f574a;
}

.card__button {
  margin-top: 30px;
}

.card__plant {
  position: absolute;
  left: 50%;
  bottom: -84px;
  width: 180px;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

.feedback {
  padding-top: 9px;
  padding-bottom: 54px;
  background-color: #e1e1b8;
}

.feedback__slider {
  margin-top: 44px;
}

.feedback-item {
  text-align: center;
  display: -ms-flexbox !important;
  display: flex !important;
  -ms-flex-direction: column;
  flex-direction: column;
  overflow: hidden;
}

.feedback-item__image {
  margin: 0 auto;
  width: 200px;
  height: 200px;
}

.feedback-item__image img {
  border-radius: 100%;
}

.feedback-item__info {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
}

.feedback-item__name {
  margin-top: 30px;
  font-weight: 400;
  font-size: 24px;
  line-height: 100%;
  color: #3f574a;
  text-transform: uppercase;
}

.feedback-item__feedback {
  margin-top: 25px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  font-weight: 400;
  font-size: 24px;
  line-height: 100%;
  color: #3f574a;
  text-align: center;
}

.consultation {
  padding-top: 101px;
  padding-bottom: 100px;
  background-color: #e1e1b8;
}

.consultation__block {
  position: relative;
  padding: 54px 10px 50px;
  text-align: center;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 70px;
}

.consultation__plant {
  position: absolute;
  top: -70px;
  left: 50%;
  width: 184px;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

.consultation__text {
  margin-top: 28px;
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  color: #000;
}

.consultation__form {
  margin: 40px auto 0;
  max-width: 778px;
}

.consultation__form div {
  position: relative;
}

.consultation__form input {
  display: block;
  padding: 15px 20px;
  width: 100%;
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  color: #3f574a;
  background-color: #f1c7c5;
  border-radius: 50px;
}

.consultation__form input:-webkit-autofill,
.consultation__form input:-webkit-autofill:hover,
.consultation__form input:-webkit-autofill:focus {
  -webkit-text-fill-color: #3f574a;
  -webkit-box-shadow: 0 0 0px 1000px #f1c7c5 inset;
  -webkit-transition: background-color 5000s ease-in-out 0s;
  transition: background-color 5000s ease-in-out 0s;
}

.consultation__form input:focus {
  transition: all 0.4s ease;
  box-shadow: 0 0 7px #bc4c47;
}

.consultation__form > :not(:last-child) {
  margin-bottom: 34px;
}

.consultation__button {
  margin-bottom: 0 !important;
  padding: 10px 20px;
  position: relative;
  top: 0;
  cursor: pointer;
  transition: top 0.1s ease-in;
}

.consultation__button:active {
  top: 3px;
}

.consultation__button:disabled {
  background-color: #cdcdcd;
}

.status-message {
  margin-top: 10px;
  line-height: 150%;
}

.error-message {
  position: absolute;
  bottom: -3px;
  left: 25px;
  margin-bottom: 0 !important;
  font-size: 14px;
  text-align: left;
  color: #CD2C25;
}

.footer {
  padding: 47px 0 69px;
  background-color: #4f6555;
}

.footer__container {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-align: center;
  align-items: center;
}

.footer__container > :not(:last-child) {
  margin-bottom: 30px;
}

.footer__logo {
  text-align: center;
}

.footer__logo a {
  display: inline-block;
}

.footer__logo img {
  margin-right: 6px;
}

.footer__logo-text {
  margin-top: 14px;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
}

.footer__tel {
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  font-weight: 400;
  font-size: 20px;
  line-height: 100%;
  color: #fff;
  text-align: center;
}

.footer__social-items {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
}

.footer__social-item {
  padding: 13px;
  position: relative;
  width: 55px;
  height: 55px;
  background-color: #fff;
  border-radius: 100%;
}

.footer__social-item a {
  padding: 10px;
  display: inline-block;
  margin-top: -10px;
  margin-left: -10px;
}

.footer__social-item:not(:last-child) {
  margin-right: 17px;
}

.footer__social-item:nth-child(2) {
  padding-left: 15px;
}

@media (min-width: 400px) {
  .big-button {
    padding: 12px 22px;
    font-size: 20px;
  }

  .big-button_light {
    padding: 10px 20px;
    font-size: 18px;
  }

  .button {
    font-size: 16px;
  }

  .title {
    font-size: 68px;
  }

  .slick-arrow {
    top: 136px;
  }

  .slick-prev::before,
  .slick-prev::after {
    width: 21px;
    height: 2.5px;
  }

  .slick-prev::after {
    top: 22px;
  }

  .slick-next::before,
  .slick-next::after {
    width: 21px;
    height: 2.5px;
  }

  .slick-next::after {
    top: 22px;
  }

  .slider__items_flowers {
    padding: 0px 30px;
  }

  .menu__items {
    font-size: 24px;
  }

  .promo__title {
    font-size: 84px;
  }

  .promo__subtitle {
    margin: 30px auto 0;
    font-size: 24px;
  }

  .flowers-item__image {
    width: 280px;
    height: 280px;
  }

  .card__block {
    padding: 45px 15px;
  }

  .consultation {
    padding-bottom: 120px;
  }

  .consultation__block {
    padding: 54px 15px 50px;
  }

  .consultation__text {
    font-size: 20px;
  }
}

@media (min-width: 576px) {
  .title {
    font-size: 76px;
  }

  .slider__items_flowers {
    padding: 0px 36px;
  }

  .slider__items_feedback {
    padding: 0px 63px;
  }

  .promo::before {
    border-top: 80px solid #fff;
  }

  .promo::after {
    border-top: 80px solid #fff;
  }

  .promo__small-flower {
    left: 12%;
    opacity: 0.8;
  }

  .promo__buttons {
    margin: 77px 0 0 50px;
  }

  .card__text {
    font-size: 26px;
  }

  .card__button {
    margin-top: 46px;
  }

  .card__plant {
    bottom: -101px;
    width: 220px;
  }

  .feedback {
    padding-bottom: 81px;
  }

  .consultation {
    padding-bottom: 150px;
  }

  .consultation__block {
    padding: 54px 30px 92px;
  }

  .consultation__plant {
    width: 200px;
  }

  .consultation__form {
    margin: 67px auto 0;
  }

  .consultation__form input {
    padding: 19px 42px 15px;
  }

  .consultation__form > :not(:last-child) {
    margin-bottom: 44px;
  }

  .footer__container > :not(:last-child) {
    margin-bottom: 0;
  }

  .footer__container {
    -ms-flex-direction: row;
    flex-direction: row;
  }

  .footer__tel {
    margin-top: 16px;
  }

  .footer__social-items {
    margin-top: 10px;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 960px;
  }

  .button {
    font-size: 18px;
  }

  .title {
    font-size: 86px;
  }

  .slick-dots button {
    width: 17px;
    height: 17px;
  }

  .promo::before {
    border-top: 120px solid #fff;
  }

  .promo::after {
    border-top: 120px solid #fff;
  }

  .promo__title {
    font-size: 100px;
  }

  .promo__small-flower {
    left: 10%;
    top: 9px;
    width: 195px;
  }

  .promo__big-flower {
    right: 10%;
    width: 386px;
  }

  .promo__subtitle {
    margin: 66px auto 0;
    font-size: 24px;
  }

  .promo__buttons {
    margin: 77px 0 0 100px;
  }

  .promo__button_light {
    margin-top: 36px;
  }

  .about__items > :not(:last-child)::after {
    width: 17px;
    height: 17px;
  }

  .about__items::before,
  .about__items::after {
    width: 17px;
    height: 17px;
  }

  .about__item {
    font-size: 24px;
  }

  .flowers__slider {
    margin-top: 90px;
  }

  .card__plant {
    bottom: -124px;
    width: auto;
  }

  .feedback__slider {
    margin-top: 84px;
  }

  .feedback-item {
    -ms-flex-direction: row;
    flex-direction: row;
  }

  .feedback-item__image {
    margin: 0;
    width: 230px;
    height: 230px;
  }

  .feedback-item__info {
    margin-right: 42px;
  }

  .feedback-item__name {
    margin-top: 41px;
  }

  .feedback-item__feedback {
    margin-top: 0;
    padding-bottom: 70px;
    text-align: left;
  }

  .consultation {
    padding-bottom: 192px;
  }

  .consultation__plant {
    width: auto;
  }

  .consultation__text {
    margin-top: 37px;
    font-size: 24px;
  }

  .consultation__form {
    margin: 85px auto 0;
  }

  .consultation__form input {
    font-size: 20px;
  }

  .consultation__form > :not(:last-child) {
    margin-bottom: 54px;
  }

  .footer__logo-text {
    font-size: 18px;
  }

  .footer__tel {
    font-size: 24px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 1140px;
  }

  .burger {
    display: none;
  }

  .big-button {
    padding: 14px 22px;
    font-size: 24px;
  }

  .big-button:hover {
    background-color: #fff;
    color: #3f574a;
  }

  .big-button_light {
    padding: 12px 20px;
    font-size: 20px;
  }

  .big-button_light:hover {
    background-color: #3f574a;
    color: #fff;
  }

  .button:hover {
    background-color: #8f8f3d;
  }

  .button:disabled {
    background-color: #cdcdcd;
  }

  .buy-button:hover {
    background-color: #fff;
    color: #3f574a;
  }

  .title {
    font-size: 96px;
  }

  .slick-prev:hover::before {
    background-color: #8f8f3d;
  }

  .slick-prev:hover::after {
    background-color: #8f8f3d;
  }

  .slick-next:hover::before {
    background-color: #8f8f3d;
  }

  .slick-next:hover::after {
    background-color: #8f8f3d;
  }

  .slick-dots {
    margin-top: 80px;
  }

  .slider__items_feedback .slick-prev {
    left: -17px;
  }

  .slider__items_feedback .slick-next {
    right: -17px;
  }

  .header__logo {
    display: block;
    margin-left: 35px;
    text-align: center;
  }

  .header__logo a {
    display: inline-block;
  }

  .menu {
    padding: 0;
    position: static;
    display: block;
    margin-right: 124px;
    height: auto;
    width: auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    background-color: none;
  }

  .menu__items > :not(:last-child) {
    margin-bottom: 0;
  }

  .menu__items {
    -ms-flex-direction: row;
    flex-direction: row;
    width: 580px;
  }

  .menu__item a {
    padding: 10px 10px;
  }

  .menu__item {
    position: relative;
    margin: 0;
    padding: 0;
  }

  .menu__item::before {
    content: "";
    position: absolute;
    left: 0px;
    bottom: -7px;
    height: 1px;
    width: 0;
    background-color: #3f574a;
    transition: all 0.38s ease-out;
  }

  .menu__item:hover::before {
    width: 100%;
  }

  .promo {
    padding: 66px 0px 160px;
  }

  .promo::before {
    border-top: 160px solid #fff;
  }

  .promo::after {
    border-top: 160px solid #fff;
  }

  .promo__title {
    font-size: 124px;
  }

  .promo__small-flower {
    top: -24px;
    left: 60px;
    width: 300px;
    opacity: 1;
  }

  .promo__big-flower {
    top: 110px;
    right: 15px;
    width: 600px;
    opacity: 1;
  }

  .promo__subtitle {
    font-size: 30px;
  }

  .promo__buttons {
    margin: 144px 0 0 104px;
  }

  .about {
    padding-bottom: 75px;
  }

  .flowers {
    padding-top: 66px;
  }

  .flowers__slider {
    margin-top: 163px;
  }

  .card {
    padding-top: 83px;
  }

  .card__block {
    margin: 0 65px;
    padding: 69px 30px 54px;
  }

  .card__text {
    font-size: 30px;
  }

  .feedback__slider {
    margin: 84px 119px 0;
  }

  .feedback-item__image {
    width: 280px;
    height: 280px;
  }

  .feedback-item__info {
    margin-right: 58px;
  }

  .consultation__block {
    margin: 0 35px;
  }

  .footer__logo {
    margin-left: 25px;
  }

  .footer__social-items {
    margin-right: 35px;
  }
}

@media (min-width: 1200px) {
  .big-button {
    padding: 17px 22px;
    font-size: 30px;
  }

  .big-button_light {
    padding: 14px 20px;
    font-size: 24px;
  }

  .promo::before {
    border-top: 219px solid #fff;
  }

  .promo::after {
    border-top: 219px solid #fff;
  }

  .promo__title {
    font-size: 144px;
  }

  .promo__small-flower {
    left: -9px;
    width: 350px;
  }

  .promo__big-flower {
    top: 147px;
  }

  .promo__subtitle {
    margin: 78px auto 0;
    font-size: 36px;
  }

  .promo__buttons {
    margin: 144px 0 0 44px;
  }

  .promo__button_light {
    margin-top: 44px;
  }

  .about__item {
    font-size: 26px;
  }

  .flowers-item__image {
    width: 300px;
    height: 300px;
  }
}

@media (min-width: 1250px) {
  .slider__items_flowers {
    padding: 0;
  }

  .slider__items_flowers .slick-prev {
    left: -42px;
  }

  .slider__items_flowers .slick-next {
    right: -42px;
  }
}

@media (min-width: 1400px) {
  .promo {
    padding: 66px 0px 220px;
  }

  .promo__small-flower {
    width: auto;
  }

  .promo__big-flower {
    width: auto;
    right: -53px;
  }

  .promo__buttons {
    margin: 219px 0 0 9px;
  }
}

@media (min-width: 1800px) {
  .arrow-up {
    right: 10%;
  }
}