$background-color: #e1e1b8;
$main-color-green: #3f574a;
// $main-color-green-hover: #6a8a79;
$main-color-green-hover: #8f8f3d;
$spot-color-active: #bc4c47;
$spot-color: #da9996;
$input-background: #f1c7c5;
