.header {
    position: relative;
    padding: 54px 0px 32px;
    background-color: #fff;
    &__container {
        display: flex;
        align-items: center;
    }
    &__logo {
        display: none;
        @media (min-width: 992px) {
            display: block;
            margin-left: 35px;
            text-align: center;
            & a {
                display: inline-block;
            }
        }
    }
    &__logo-text {
        margin-top: 12px;
        color: $main-color-green;
        text-transform: uppercase;
    }
}

.menu-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 20;
    background-color: rgba(8, 6, 6, 0.5);
    transition: all 2s ease-out;
    &_opened {
        display: block;
        animation-name: displayMenuOverflow;
        animation-duration: 1s;
    }
}
@keyframes displayMenuOverflow {
    from {
        opacity: 0.1;
    }

    to {
        opacity: 1;
    }
}

.menu {
    padding: 80px 0px;
    position: fixed;
    top: 0;
    right: -100%;
    height: 100vh;
    width: 70%;
    z-index: 25;
    background-color: #fff;
    transition: all 0.6s ease-out;
    &._opened {
        right: 0;
        visibility: visible;
    }
    @media (min-width: 992px) {
        padding: 0;
        position: static;
        display: block;
        margin-right: 124px;
        height: auto;
        width: auto;
        flex: 1 1 auto;
        background-color: none;
    }
    &__items {
        margin: 0px auto;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        font-size: 22px;
        color: $main-color-green;
        & > :not(:last-child) {
            margin-bottom: 20px;
            @media (min-width: 992px) {
                margin-bottom: 0;
            }
        }
        @media (min-width: 400px) {
            font-size: 24px;
        }
        @media (min-width: 992px) {
            flex-direction: row;
            width: 580px;
        }
    }
    &__item {
        margin: 15px 0px;
        padding: 5px 0px;
        & a {
            padding: 10px 30px;
            @media (min-width: 992px) {
                padding: 10px 10px;
            }
        }
        @media (min-width: 992px) {
            position: relative;
            margin: 0;
            padding: 0;
            &::before {
                content: "";
                position: absolute;
                left: 0px;
                bottom: -7px;
                height: 1px;
                width: 0;
                background-color: $main-color-green;
                transition: all 0.38s ease-out;
            }
            &:hover {
                &::before {
                    width: 100%;
                }
            }
        }
    }
}
