.big-button {
    display: inline-block;
    padding: 10px 22px;
    font-weight: 400;
    font-size: 18px;
    color: #fff;
    text-transform: uppercase;
    border-radius: 23px;
    background-color: $main-color-green;
    transition: all 0.4s ease-out;
    
    @media (min-width: 400px) {
        padding: 12px 22px;
        font-size: 20px;
    }
    @media (min-width: 992px) {
        padding: 14px 22px;
        font-size: 24px;
        &:hover {
            background-color: #fff;
            color: $main-color-green;
            
        }
    }
    @media (min-width: 1200px) {
        padding: 17px 22px;
        font-size: 30px;
    }

    &_light {
        padding: 8px 16px;
        font-size: 14px;
        color: #000;
        background-color: #fff;
        transition: all 0.4s ease-out;

        @media (min-width: 400px) {
            padding: 10px 20px;
            font-size: 18px;
        }
        @media (min-width: 992px) {
            padding: 12px 20px;
            font-size: 20px;
            &:hover {
                background-color: $main-color-green;
                color: #fff;
                
            }
        }
        @media (min-width: 1200px) {
            padding: 14px 20px;
            font-size: 24px;
        }
    }
}

.button {
    position: relative;
    padding: 10px 20px;
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    color: #fff;
    text-transform: uppercase;
    border-radius: 23px;
    background-color: $main-color-green;
    transition: all 0.4s ease-out;
    z-index: 5;
    @media (min-width: 400px) {
        font-size: 16px;
    }
    @media (min-width: 768px) {
        font-size: 18px;
    }
    @media (min-width: 992px) {
        &:hover {
            background-color: $main-color-green-hover;
        }
        &:disabled {
            background-color: $disabled;
        }
    }
}

.buy-button {
    padding: 8px 20px;
    font-weight: 400;
    font-size: 18px;
    line-height: 100%;
    color: #fff;
    background-color: $main-color-green;
    border-radius: 23px;
    transition: all 0.4s ease-out;
    @media (min-width: 992px) {
        &:hover {
            background-color: #fff;
            color: $main-color-green;
        }
    }
}
