.slick-slider {
    position: relative;
}
.slick-list {
    overflow: hidden;
}
.slick-track {
    display: flex;
    align-items: flex-start;
}
.slick-arrow {
    position: absolute;
    top: 100px;
    z-index: 5;
    font-size: 0;
    @media (min-width: 400px) {
        top: 136px;
    }
}
.slick-prev {
    width: 21px;
    height: 34px;
    left: 0;
    background-color: transparent;
    @include arrow-left;
    &::before {
        top: 9px;
    }
    &::after {
        top: 17px;
        @media (min-width: 400px) {
            top: 22px;
        }
    }
    @media (min-width: 992px) {
        &:hover {
            &::before {
                background-color: $main-color-green-hover;
            }
            &::after {
                background-color: $main-color-green-hover;
            }
        }
    }
}
.slick-next {
    width: 21px;
    height: 34px;
    right: 0;
    background-color: transparent;
    @include arrow-right;
    &::before {
        top: 9px;
    }
    &::after {
        top: 17px;
        @media (min-width: 400px) {
            top: 22px;
        }
    }
    @media (min-width: 992px) {
        &:hover {
            &::before {
                background-color: $main-color-green-hover;
            }
            &::after {
                background-color: $main-color-green-hover;
            }
        }
    }
}

.slick-dots {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    height: 17px;
    @media (min-width: 992px) {
        margin-top: 80px;
    }
    & li {
        margin: 0px 10px;
        &.slick-active {
            & button {
                background-color: $spot-color-active;
            }
        }
    }
    & button {
        font-size: 0;
        width: 13px;
        height: 13px;
        border-radius: 100%;
        background-color: $spot-color;
        @media (min-width: 768px) {
            width: 17px;
            height: 17px;
        }
    }
}

.slider {
    &__items {
        &_flowers {
            padding: 0px 20px;
            @media (min-width: 400px) {
                padding: 0px 30px;
            }
            @media (min-width: 576px) {
                padding: 0px 36px;
            }
            @media (min-width: 1250px) {
                padding: 0;
            }
            & .slick-prev {
                @media (min-width: 1250px) {
                    left: -42px;
                }
            }
            & .slick-next {
                @media (min-width: 1250px) {
                    right: -42px;
                }
            }
            
        }
        &_feedback {
            padding: 0px 25px;
            & .slick-prev {
                @media (min-width: 992px) {
                    left: -17px;
                }
            }
            & .slick-next {
                @media (min-width: 992px) {
                    right: -17px;
                }
            }
            @media (min-width: 576px) {
                padding: 0px 63px;
            }
            & .slick-dots {
                margin-top: 44px;
            }
        }
    }
}
