.title {
    font-family: "Foxhole";
    font-weight: 400;
    font-size: 60px;
    line-height: 120%;
    text-align: center;
    text-transform: uppercase;
    color: $main-color-green;
    @media (min-width: 400px) {
        font-size: 68px;
    }
    @media (min-width: 576px) {
        font-size: 76px;
    }
    @media (min-width: 768px) {
        font-size: 86px;
    }
    @media (min-width: 992px) {
        font-size: 96px;
    }
}
